
    body {
        margin: 0;
        padding: 0;
    }
    .overallGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background-color: #3A5199;
      grid-gap: 1vh 1vh;
      text-align: center;
      height: 100vh;
    }

    .gameBox {
      height: 100vh;
      display: grid;
      grid-template-columns: 7.5vw 20vw 7.5vw 15vw;
      background-color: #FFFFFF;
      height: 16.5em;
      text-align: center;
    }
    .logo {
      display: grid;
      width: 100%;
      text-align: center;
    }

    .teamsBox {
      display: grid;
      width: 100%;
      text-align: center;
      font-size: 10vh;
      background-color: #FFFFFF;
    }

    .scoreBox {
      display: grid;
      width: 100%;
      text-align: center;
      font-size: 11vh;
      background-color: #D1B280;
      font-weight: bold;
    }

    .timeBox {
      display: grid;
      width: 100%;
      text-align: center;
      background-color: #D5D6D2;
      font-size: 6vh;
      font-weight: bold;
    }

    .periodBox {
      width: 100%;
      font-weight: normal;
      text-align: center;
    }
